CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_tr3600-v1=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
# CONFIG_TARGET_ROOTFS_EROFS is not set
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=1024
CONFIG_LUCI_JSMIN=y
CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-package-manager-zh-cn=y
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_luci-app-mango-proxy=y
CONFIG_PACKAGE_zerotier=y
CONFIG_PACKAGE_luci-app-zerotier-mini=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-mt7990-firmware=y
CONFIG_PACKAGE_mt7987-2p5g-phy-firmware=y
CONFIG_PACKAGE_kmod-hwmon-pwmfan=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_uboot-envtools=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_luci-app-cudy-wifi=y
CONFIG_PACKAGE_luci-app-cudy-led=y
CONFIG_PACKAGE_luci-app-cudy-usb=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_usteer=y
CONFIG_PACKAGE_wpad-mbedtls=y
# CONFIG_PACKAGE_wpad-basic-mbedtls is not set
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_coreutils-base64=y
CONFIG_PACKAGE_coreutils-timeout=y
CONFIG_PACKAGE_flock=y
CONFIG_PACKAGE_mango-tcpcheck=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-i18n-samba4-zh-cn=y
CONFIG_PACKAGE_samba4-server=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_relayd=y
CONFIG_PACKAGE_luci-proto-relay=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
# CONFIG_PACKAGE_v2ray-geoip is not set
# CONFIG_PACKAGE_v2ray-geosite is not set
# CONFIG_PACKAGE_xray-example is not set
# CONFIG_PACKAGE_luci-app-cudy-l2tp is not set
# CONFIG_PACKAGE_cudy-l2tp-ifname is not set
# CONFIG_PACKAGE_xl2tpd is not set
# CONFIG_PACKAGE_strongswan is not set
# CONFIG_PACKAGE_luci-app-ddns is not set
# CONFIG_PACKAGE_ddns-scripts is not set
